name: Minecraft Bot

on:
  workflow_dispatch:   # bấm tay Run
  push:                # push code là chạy
    branches: [ "main" ]

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Start bot
      run: npm start
      
